.study-form__controls{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 2rem;
    padding: 1rem;
    background-color: darkred;
    color:white;
}

.study-form__control label{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.study-form__control select, input{
    font-size: 1.2rem;
    width: 9rem;
    border-radius: 5px;
    text-align: center;
}

.study-form__control textarea{
    display: block;
    width: 15rem;
    text-align: left;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.study-form__btns{
    text-align: right;
}

