.subjectLabel{ grid-area: subjectLabel;}
.subjectInput{grid-area: subjectInput;}
.dateLabel{grid-area: dateLabel;}
.dateInput{grid-area: dateInput;}
.timeLabel{grid-area: timeLabel;}
.timeInput{grid-area: timeInput;}
.memoLabel{grid-area: memoLabel;}
.memoInput{grid-area: memoInput;}


.study-form__controls{
    display: grid;
    grid-template-areas: 
        '. subjectLabel subjectInput . timeLabel timeInput . '
        '. dateLabel dateInput . memoLabel . . '
        '. . . . memoInput memoInput .';
    padding: 2rem;
    color:white;
    row-gap: 1rem;
}


.study-form__controls label{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.study-form__controls select, input{
    font-size: 1.1rem;
    border-radius: 5px;
    text-align: center;
}

.study-form__controls textarea{
    text-align: left;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.study-form__btns{
    text-align: right;
}

